<div class="small text-info mt-2">El asterisco (*) en los campos indica que es obligatorio</div>
<div class="form-group <%= errors.username.isError ? "has-danger" : "" %>">
    <label class="form-label mt-2" for="username">Nombre de usuario<span class="text-info">*</span></label>
    <input type="text" class="form-control <%= errors.username.isError ? "is-invalid" : "" %>" id="username" name="username" placeholder="Ej: Barrault_Fan">
    <% if (errors.username.isError) { %>
        <div class="invalid-feedback"><%= errors.username.message %> </div>
    <% } %>
</div>
<div class="form-group <%= errors.email.isError ? "has-danger" : "" %>">
    <label class="form-label mt-2" for="email">Correo electrónico</label>
    <input type="text" class="form-control <%= errors.email.isError ? "is-invalid" : "" %>" id="email" name="email" placeholder="Ej: notDivineComedy@gmail.com">
    <% if (errors.email.isError) { %>
        <div class="invalid-feedback"><%= errors.email.message %> </div>
    <% } %>
</div>
<div class="form-group <%= errors.phone.isError ? "has-danger" : "" %>">
    <label class="form-label mt-2" for="phone">Número telefónico</label>
    <input type="text" class="form-control <%= errors.phone.isError ? "is-invalid" : "" %>" id="phone" name="phone" placeholder="Ej: 3024395591">
    <% if (errors.phone.isError) { %>
        <div class="invalid-feedback"><%= errors.phone.message %> </div>
    <% } %>
</div>
<div class="form-group <%= errors.password.isError ? "has-danger" : "" %>">
    <label class="form-label mt-2" for="password">Contraseña<span class="text-info">*</span></label>
    <input type="password" class="form-control <%= errors.password.isError ? "is-invalid" : "" %>" id="password" name="password" placeholder="Mínimo 8 caracteres...">
    <% if (errors.password.isError) { %>
        <div class="invalid-feedback"><%= errors.password.message %> </div>
    <% } %>
</div>
<div class="form-group <%= errors.passwordC.isError ? "has-danger" : "" %>">
    <label class="form-label mt-2" for="passwordC">Confirma tu contraseña<span class="text-info">*</span></label>
    <input type="password" class="form-control <%= errors.passwordC.isError ? "is-invalid" : "" %>" id="passwordC" name="passwordC" placeholder="Confirma tu contraseña...">
    <% if (errors.passwordC.isError) { %>
        <div class="invalid-feedback"><%= errors.passwordC.message %> </div>
    <% } %>
</div>