<div class="entrance">
    <% var cardTitle = (entranceType === "L") ? "Inicia sesión" : "Regístrate" %> 
    <% var path = (entranceType === "L") ? "/login" : "/register" %> 
    <%- partial('../partials/entrance-header.ejs', {entranceType: entranceType}) %> 
    <div class="form-card container-fluid bg-light shadow-sm p-0">
        <div class="bg-dark text-light text-start ps-3 py2 lead fs-1"><%= cardTitle %> </div>
        <form class="mx-5" action=<%= path %> method="POST" >
            <% if (entranceType === "L") { %>
                <%- partial('../partials/login.ejs', {errors: errors}) %> 
            <% } else { %>
                <%- partial('../partials/register.ejs', {errors: errors}) %>
            <% } %>
            <div class="form-group mt-3 mb-4">
                <button type="submit" class="btn btn-primary"><%= cardTitle %> </button>
            </div>
        </form>
    </div>
</div>